{{define "index/404"}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{template "layout/meta" .}}    
    <title>Detail</title>
</head>
<body>
    {{template "layout/header" .}}
    <div class="container text-center mt-5 pt-5">
        <section class="p-5">
            <h1>
                404 NOT FOUND.
            </h1>
            <p>
                The page you're looking for does not exist.
            </p>
        </section>
        <section>
            <button type="button" class="btn btn-dark" style="background-color: rgb(10,88,202);">Home Page</button>
        </section>

    </div>

    


</body>
</html>

{{end}}