{{define "index/index"}}

<!DOCTYPE html>
<html lang="en">

<head>
    {{template "layout/meta" .}}
    <title>rick sanchez</title>
    <style type="text/css">
        #genetitle,
        #genetext {
            font-family: COURIER, arial, sans-serif;
        }

        .categorylink a:hover {
            text-decoration: underline;
        }

        .categorylink a {
            font-size: 1.2rem;
            font-weight: 600
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body class="bg-light text">

    {{template "layout/header" .}}

    <section class=" p-sm-5 mt-sm-2 text-center">
        <div class="container pt-sm-5">

            <div class="d-sm-flex align-items-center justify-content-around">
                <div class="p-3">
                    <h1 class="my-3" id="genetitle">rick sanchez</h1>
                <img class="img-fluid rounded-3 w-50" src="../static/img/jinx.webp" alt="">
            </div>
        </div>
    </section>

    <!-- category -->
    <section class="text-center p-5">

    </section>

    {{template "layout/footer" .}}


</body>
<script src="../static/js/genetext.js"></script>
<script src="../static/js/genetitle.js"></script>

</html>


{{end}}