{{define "article/detail"}}
<!DOCTYPE html>
<html lang="en">

<head>
    {{template "layout/meta" .}}
    <title>{{.article.Title}} - zinkt</title>
</head>

<body>
    {{template "layout/header" .}}
    <div class="container col-lg-11 mt-5 pt-5">
        <div class="row">
            <div class="col-12 col-lg-8">
                <article class="post">
                    <h3 class="post-title non-decoration-link"><a href="#" class="text-body">{{.article.Title}}</a></h3>
                    <p class="post-meta">
                        <i class="fa-regular fa-clock"></i>
                        {{.article.CreateTime | FormatAsDate}} |

                        <i class="fa-solid fa-tags"></i>
                        <a href="/category/{{.article.Category}}">{{.article.Category}}</a> |

                        <i class="fa-solid fa-eye"></i>
                        {{.article.Viewed}} 浏览 |
                    </p>
                    <hr>
                    <div class="post-content" id="post-content">
                        {{.article.Content}}
                    </div>
                    <blockquote></blockquote>
                    <small class="p-3">编辑于{{.article.LastUpdateTime | FormatAsDate}}</small>
                </article>
            </div>
            {{template "layout/sider" .}}
        </div>


    </div>




</body>
<script src="https://cdn.staticfile.org/marked/4.0.18/marked.min.js"></script>
<script>
    document.getElementById('post-content').innerHTML =
        marked.parse(document.getElementById('post-content').innerHTML)
</script>

</html>

{{end}}