{{define "article/detail"}}
<!DOCTYPE html>
<html lang="en">

<head>
    {{template "layout/meta" .}}
    <title>{{.article.Title}} - rick sanchez</title>
</head>

<body>
    {{template "layout/header" .}}
    <div class="container col-lg-11">
        <div class="row">
            <div class="col-12 col-lg-9">
                <article class="post pt-5">
                    <h3 class="post-title non-decoration-link"><a href="#" class="text-body">{{.article.Title}}</a></h3>
                    <p class="post-meta non-decoration-link">
                        <i class="fa-regular fa-clock"></i>
                        {{.article.CreateTime | FormatAsDate}} |

                        <i class="fa-solid fa-tags"></i>
                        <a href="/category/{{.article.Category}}">{{.article.Category}}</a> |

                        <i class="fa-solid fa-eye"></i>
                        {{.article.Viewed}} Views |
                    </p>
                    <section class="border border-1 px-4 pt-4">
                        <div class="markdown-body entry-content" id="post-content">{{.article.Content | Unescaped}}</div>
                    </section>
                    <blockquote class="my-3">
                        Last edit at{{.article.LastUpdateTime | FormatAsDate}}
                    </blockquote>

                </article>
            </div>
            {{template "layout/sider" .}}
        </div>


    </div>

</body>
<script defer src="/static/js/toc.js"></script>

</html>

{{end}}