{{define "article/list"}}

<!DOCTYPE html>
<html lang="en">

<head>
    {{template "layout/meta" .}}
    <title>{{.category}} - zinkt</title>
</head>

<body>
    {{template "layout/header" .}}
    <div class="container col-lg-11">
        <div class="row">
            <div class="col-12 col-lg-9">
                {{range $art := .articleList}}
                <article class="post pt-5">
                    <h3 class="post-title non-decoration-link"><a href="/archives/{{$art.Id}}"
                            class="text-body">{{$art.Title}}</a></h3>
                    <p class="post-meta">
                        <i class="fa-regular fa-clock"></i>
                        {{$art.CreateTime | FormatAsDate}} |

                        <i class="fa-solid fa-tags"></i>
                        <a href="/category/{{$art.Category}}">{{$art.Category}}</a> |

                        <i class="fa-solid fa-eye"></i>
                        {{$art.Viewed}} 浏览 |
                    </p>
                    <section class="border border-1 px-4 pt-4">
                        <div class="markdown-body entry-content" id="post-content">{{$art.Content |
                            Unescaped}}</div>
                        <p class="more pt-3">
                            <a href="/archives/{{$art.Id}}">查看更多-></a>
                        </p>
                    </section>
                </article>
                {{end}}
                <nav class="pt-4">
                    <ul class="pagination justify-content-center">
                        {{if (gt .curpage 1)}}
                        <li class="page-item"><a class="page-link"
                                href="/category/{{.category}}/{{Minus .curpage 1}}">«</a></li>
                        <li class="page-item"><a class="page-link" href="/category/{{.category}}/1">1</a></li>
                        {{end}}
                        {{if (gt (Minus .curpage 4) 1)}}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {{end}}
                        {{if (gt (Minus .curpage 3) 1)}}<li class="page-item"><a class="page-link"
                                href="/category/{{.category}}/{{Minus .curpage 3}}">{{Minus .curpage 3}}</a></li>
                        {{end}}
                        {{if (gt (Minus .curpage 2) 1)}}<li class="page-item"><a class="page-link"
                                href="/category/{{.category}}/{{Minus .curpage 2}}">{{Minus .curpage 2}}</a></li>
                        {{end}}
                        {{if (gt (Minus .curpage 1) 1)}}<li class="page-item"><a class="page-link"
                                href="/category/{{.category}}/{{Minus .curpage 1}}">{{Minus .curpage 1}}</a></li>
                        {{end}}

                        <li class="page-item active"><a class="page-link" href="#">{{.curpage}}</a></li>

                        {{if (lt (Plus .curpage 1) .totalPage)}}<li class="page-item"><a class="page-link"
                                href="/category/{{.category}}/{{Plus .curpage 1}}">{{Plus .curpage 1}}</a></li>
                        {{end}}
                        {{if (lt (Plus .curpage 2) .totalPage)}}<li class="page-item"><a class="page-link"
                                href="/category/{{.category}}/{{Plus .curpage 2}}">{{Plus .curpage 2}}</a></li>
                        {{end}}
                        {{if (lt (Plus .curpage 3) .totalPage)}}<li class="page-item"><a class="page-link"
                                href="/category/{{.category}}/{{Plus .curpage 3}}">{{Plus .curpage 3}}</a></li>
                        {{end}}
                        {{if (lt (Plus .curpage 4) .totalPage)}}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {{end}}
                        {{if (lt .curpage .totalPage)}}
                        <li class="page-item"><a class="page-link"
                                href="/category/{{.category}}/{{.totalPage}}">{{.totalPage}}</a></li>
                        <li class="page-item"><a class="page-link"
                                href="/category/{{.category}}/{{Plus .curpage 1}}">»</a></li>
                        {{end}}
                    </ul>
                </nav>
            </div>

            <!-- sider -->
            {{template "layout/sider" .}}
        </div>

    </div>

</body>

</html>

{{end}}