{{define "layout/header"}}

<!-- navbar -->
<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark py-2 bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">zinkt</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <!-- ms-auto : margin start - auto 向左推（将别的flexitem推到start处）-->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/category/coding" class="nav-link">技术</a>
                    </li>
                    <li class="nav-item">
                        <a href="/category/share" class="nav-link">分享</a>
                    </li>
                    <li class="nav-item">
                        <a href="/category/thinking" class="nav-link">随想</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">归档</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Tools&Toys</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">关于</a>
                    </li>
                    <!-- <li class="nav-item">
                            <a href="#" class="nav-link">吐槽版</a>
                        </li> -->
                </ul>
            </div>
        </div>
    </nav>
</div>


{{end}}