{{define "layout/meta"}}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- bootstrap css -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
<!-- bootstrap js -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<!-- icons -->
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/6.1.2/css/all.min.css">
<!-- 自定义全局css 引用的是已注册的/static路径 -->
<link rel="stylesheet" href="/static/css/ginkblog.css">
<link rel="stylesheet" media="all" href="/static/css/gfm.css">
<link rel="shortcut icon" href="/favicon.ico"/>
{{end}}