<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <!-- bootstrap js -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/6.1.2/css/all.min.css">
    
    <title>test</title>
    <style type="text/css">
        a {
            text-decoration: none;
            color: #212529;
        }
        .post-title a:hover {
            text-decoration: underline;
            color: #212529;
        }
    </style>
</head>
<body>
    
    <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark py-2 bg-dark">
            <div class="container">
                <a href="#" class="offset-6 navbar-brand">zinkt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navmenu">
                    <!-- ms-auto : margin start - auto 向左推（将别的flexitem推到start处）-->
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">技术</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">分享</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">随想</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">归档</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Tools&Toys</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">关于</a>
                        </li>
                        <!-- <li class="nav-item">
                                <a href="#" class="nav-link">吐槽版</a>
                            </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container col-10 col-lg-9 mt-5 pt-5">
        <div class="row">
            <div class="col-12 col-lg-8">
                <article class="post">
                    <h3 class="post-title"><a href="#">Title</a></h3>
                    <p class="post-meta">
                        <i class="fa-regular fa-clock"></i>
                        2022.8.20
                    </p>
                    <hr>
                    <div class="post-content" id="post-content">
                        
                    </div>
                    <blockquote></blockquote>
                    <p class="tags"></p>
                </article>
            </div>
            <div class="col-12 col-lg-4">

            </div>
        </div>


    </div>

    <section class=""></section>


</body>
<script src="https://cdn.staticfile.org/marked/4.0.18/marked.min.js"></script>
<script>
    var content = ""
    document.getElementById('post-content').innerHTML = 
    marked.parse("# 基础知识\n\n这是基础知识描述\n\n## 第一部分\n\n## 第二部分\n\n```\nint main(){}```")
</script>
</html>